PORT=3000
JWT_SECRET=change-me
JWT_EXPIRES_IN=1d
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=lifesync
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_SCHEMA=public
DATABASE_SSL=false

